@font-face {
  font-family: "iconfont"; /* Project id 4709472 */
  src: url('iconfont.woff2?t=1728813187867') format('woff2'),
       url('iconfont.woff?t=1728813187867') format('woff'),
       url('iconfont.ttf?t=1728813187867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-peiwangyindao:before {
  content: "\eb65";
}

.icon-zhanghaoquanxianguanli:before {
  content: "\eb68";
}

.icon-icon_shiyongwendang:before {
  content: "\eb91";
}

.icon--lumingpai:before {
  content: "\ebfb";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-zuoduiqi:before {
  content: "\ec86";
}

.icon-zuoyouduiqi:before {
  content: "\ec87";
}

.icon-zhunbeiliangchan:before {
  content: "\ecaa";
}

.icon-a-ziyuan4:before {
  content: "\e604";
}

